body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    font-size: 18px;
    margin: 0px;
    height: 100%;
    overflow-anchor: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline;
}

ul li a img {
    transform: translate(0px, 0px);
    transition: transform 0.2s;    
}

ul li a:hover img {
    transform: translate(0px, -5px);
    transition: transform 0.2s;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 24pt;
    margin: 0 0 15px 0;
}

.card {
    padding: 60px 0 0 20px;
    position: relative;
}

nav {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50%;
    background-image: linear-gradient(to right, #ffffff, #fbfbfb, #f6f6f6, #f2f2f2, #eeeeee);
    box-shadow: 0 5px 10px -10px black;
    z-index: 100;
}

nav ul {
    list-style: none;
    text-align: center;
    float: right;
    padding: 2px 5px 2px 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 18px;
    min-width: 80px;
    border-top: none;
    border-left: 2px solid lightgrey;
    border-bottom: none;
    border-right: none;
    padding: 5px;
    cursor: pointer;
}

nav ul li a:after {
    position: absolute;
    z-index: -10;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    margin: 0;
    opacity: 1;
    color: transparent;
    background: lightgrey;
    height: 100%;
    width: 0%;
    transition: all 0.5s;
}

nav ul li #cur:after {
    width: 100%;
}

nav ul li a:hover:after {
    width: 100%;
}

.info {
	display: block;
	vertical-align: top;
    padding: 0 0 0 170px;
	height: 152px;
}

section {
    position: fixed;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    box-shadow: 0 0 10px 0px black;
    background-image: linear-gradient(to right, #ffffff, #fbfbfb, #f6f6f6, #f2f2f2, #eeeeee);
}

section div {
    padding: 0 20px;
    font-weight: 400;
}

.avatar {
	float: left;
    box-shadow: 0 0 20px -5px black;
    border: 1px solid cornsilk;
    border-radius: 200px;
    transform: scale(1);
    transition: transform 0.2s;
}

.avatar:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.social {
    height: 50px;
    width: 50px;
    outline: none;
    text-decoration: none;
}

strong {
    color: chocolate;
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
}

.dyntext {
    /*animation: fade 0.2s;
    clear: both;*/
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}